body{

	background-color: #000000;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
}

h1,h2,h3,h4,h5,h6,p{
	color:#FFFFFF;
}

p{
	margin:20px;
	text-align: justify;
}

.title{
	text-align: center;
}

.content{
	background-color: #000000;
	border:3px solid #FFFFFF;
	width: 50%;
}

.imagen-destacada{
	width: 100%;
}

aside div{
	width: 50%;
}

aside div img{
	width: 100%;
}
